<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.BrokenLinks"/>
      <class name="testcases.FixedDepositCalculator"/>
      <class name="testcases.BlazeTest"/>
      <class name="testcases.CITBank_Deposit_Calculator"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
